@font-face {
    font-family: Shadows;
    src: url(fonts/ShadowsIntoLight-Regular.ttf);
}
@font-face {
    font-family: Cinzel;
    src: url(fonts/Cinzel-VariableFont_wght.ttf);
}
@font-face {
    font-family: Lato;
    src: url(fonts/Lato-Regular.ttf);
}
@font-face {
    font-family: Pacifico;
    src: url(fonts/Pacifico-Regular.ttf);
}

h1 {
    background-color: black;
    color: white;
    text-align: center;
    font-family: Shadows;
}

h2 {
    background-color: rgb(127, 255, 168);
    font-family: Pacifico;
}

h3 {
    font-family: Shadows;
    font-size: 2rem;
    
}

h4 {
    background-color: yellow;
    font-family: Pacifico;
    font-size: 2rem;
    text-align: center;
    text-shadow: 4px 4px gray;
}

ol li {
    color: red;
}
ul {
    background-color: gray;
}