@font-face {
    font-family: "orbitron";
    src: url(./assets/fonts/Orbitron-VariableFont_wght.ttf);
}

html {
    font-family: "orbitron";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
display: flex;
align-items: center;
justify-content: center;
}

main {
    border: 1px solid red;
    width: 500px;
}

section{
    display: inline-block;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

h1 {
    font-size: 10rem;
    background-color: black;
    color: #FDF860;
    font-weight: 400;
    border: 4.5px solid red;
    border-radius: 30px;
    width: 450px;
    height: 450px;
    align-self: center;
}