* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: poppins;
    src: url(./fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: playfair;
    src: url(./fonts/PlayfairDisplay-VariableFont_wght.ttf);
}

:root {
    --main-font: poppins;
}

html {
    font-size: 62.5%;
    font-family: var(--main-font);
    color: white;
}

body {
    background-color: rgb(238, 239, 227);
    height: 100vh;
    background-image: url(./fotos/sky.jpg);
    background-size: cover;
    background-position: center;
    background-position: right;
}

.modal {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    position: absolute;
    background-color: #F62B54;
    height: 15rem;
    width: 25rem;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    border-radius: 2rem;
}

.modal button {
    align-self: flex-end;
    background-color: white;
    border: none;
    color: #F62B54;
    border-radius: 50%;
    height: 1.1rem;
    width: 1.1rem;
    font-size: 1rem;
    font-weight: 600;
}

.modal h3 {
    font-size: 2rem;
    text-decoration: underline;
    margin-bottom: 1.5rem;
}

.modal p {
    font-size: 1rem;
    margin-right: 5rem;
}

