* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: raleway;
    font-weight: normal;
}

@font-face {
    font-family: raleway;
    src: url(./fonts/Raleway-VariableFont_wght.ttf);
}

body {
    background-color: white;
}

header {
    height: 76px;
    border-bottom: 1px solid gray;
}

nav {
    display: flex;
    justify-content: space-evenly;
    padding: 10px 40px;
    align-items: center;
    height: 76px;
}

nav a {
    color: #666;
}

nav a:hover{
    color: #333;
}

ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

a {
    text-decoration: none;
}

ul a {
    color: #666;
}

ul a:hover {
    color: #337ab7;
}