
h1::first-letter {
    color: #00796B;
    font-size: 3em;
} 

h1:hover::first-letter {
    color: #4FC3F7;
}

li {
    list-style: none;
}

.check {
    text-decoration: line-through;
}
.check::before {
    content: url(../icons/check.png);
}

.in-progress {
    background-color: lightblue;
}

.in-progress::before {
    content: url(../icons/doing.png);
}

.future {
    text-decoration: underline;
}

.future::before {
    content: url(../icons/no.png);
}

ul li:nth-child(1)::after {
    content: url(../icons/gym.png);
}

ul li:nth-child(2)::after {
    content: url(../icons/bill.png);
}

ul li:nth-child(3)::after {
    content: url(../icons/dance.png);
}

ul li:nth-child(4)::after {
    content: url(../icons/eat.png);
}

ul li:nth-child(5)::after {
    content: url(../icons/book.png);
}

ul li:nth-child(6)::after {
    content: url(../icons/organize.png);
}