body {
    padding-left: 300px;
}
main {
    padding: 20px;
    border:  2px solid black;
    height: 600px;
    width: 300px;
    background-color: rgb(193, 193, 146);
}

h1 {
    font-size: 2.5em;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(209, 13, 13);
}
li {
    padding: 10px;
    font-size: 1.5em;
}

ol {
    background-color: rgb(228, 198, 158);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
